<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.breply.mappers.BoardMapper">

  <!-- list -->
  <select id="getList" resultType="BoardListDTO">
  select bno, title, writer, dueDate
  from tbl_board
  where bno > 0 and status = true
  order by bno desc
  limit #{skip}, #{size}
  </select>

  <!-- total -->
  <select id="listCount" resultType="long">
  select count(*)
  from
  (select bno from tbl_board
  where bno > 0
  limit #{countEnd}) board
  </select>

  <!-- register -->
  <insert id="register">
  insert into tbl_board
  (title, content, writer)
  values (#{title}, #{content}, #{writer})
  </insert>

  <!-- read -->
  <select id="getOne" resultType="BoardDTO">
  select title, content, writer, dueDate, updateDate
  from tbl_board
  where bno = #{bno}
  </select>

  <!-- delete -->
  <update id="delete">
  update tbl_board
  set
    title = '', content = '', writer = '', dueDate = null, updateDate = now(),
    status = false, replycnt = 0
  where bno = #{bno}
  </update>

</mapper>