<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.board.boardproject.mappers.BoardMapper">

  <!-- list V3 -->
  <select id="getList" resultType="BoardListDTO">
    select br.bno, br.title, br.writer, br.dueDate, br.replycnt,
           br.viewcnt, group_concat(distinct pi.uuid,'_',pi.file_name) as fileName
    from (select b.bno, b.title, b.content, b.writer, b.dueDate,
        COUNT(r.rno) as replycnt, b.viewcnt
    from tbl_board b
    left join tbl_reply r on r.bno = b.bno
    where b.bno > 0 and b.status = true
    <if test="keyword != null and types != null">
      <trim prefix="and (" prefixOverrides="or" suffix=")">
        <foreach collection="types" item="type" separator=" or ">
          <if test='type == "t"'>
            b.title like concat('%', #{keyword}, '%')
          </if>
          <if test='type == "c"'>
            b.content like concat('%', #{keyword}, '%')
          </if>
          <if test='type == "w"'>
            b.writer like concat('%', #{keyword}, '%')
          </if>
        </foreach>
      </trim>
    </if>
    group by b.bno
    order by b.bno desc
    limit #{skip}, #{size}) as br
    left outer join tbl_board_image pi
    on pi.bno = br.bno
    and (pi.ord = 0 or pi.ord is null)

    group by br.bno
    order by br.bno desc

    <!--
    V1
    select b.bno, b.title, b.writer, b.dueDate, count(r.rno) as replycnt
    from tbl_board b
    left join tbl_reply r
    on r.bno = b.bno
    where b.bno > 0 and status = true
    <if test="keyword != null and type != ''">
      <trim prefix="and (" prefixOverrides="or" suffix=")">
        <if test='type == "t"'>
          or title like concat('%', #{keyword}, '%')
        </if>
        <if test='type == "c"'>
          or content like concat('%', #{keyword}, '%')
        </if>
        <if test='type == "w"'>
          or writer like concat('%', #{keyword}, '%')
        </if>
      </trim>
    </if>
    group by b.bno
    order by b.bno desc
    limit #{skip}, #{size}

    V2
    select b.bno, b.title, b.writer, b.dueDate, count(r.rno) as replycnt,
           b.viewcnt, group_concat(distinct pi.uuid,'_',pi.file_name) as fileName
    from tbl_board b
    left join tbl_reply r
    on r.bno = b.bno
    left outer join tbl_board_image pi
    on pi.bno = b.bno
    where b.bno > 0 and b.status = true and (pi.ord = 0 or pi.ord is null)
    <if test="keyword != null and types != null">
      <trim prefix="and (" prefixOverrides="or" suffix=")">
        <foreach collection="types" item="type" separator=" OR ">
          <if test='type == "t"'>
            title like concat('%', #{keyword}, '%')
          </if>
          <if test='type == "c"'>
            content like concat('%', #{keyword}, '%')
          </if>
          <if test='type == "w"'>
            writer like concat('%', #{keyword}, '%')
          </if>
        </foreach>
      </trim>
    </if>
    group by b.bno
    order by b.bno desc
    limit #{skip}, #{size}
    -->
  </select>

  <!-- total -->
  <select id="listCount" resultType="long">
    select count(*)
    from
    (select bno from tbl_board
    where bno > 0
    <if test="keyword != null and types != null">
      <trim prefix="and (" prefixOverrides="or" suffix=")">
        <foreach collection="types" item="type" separator=" OR ">
          <if test='type == "t"'>
            title like concat('%', #{keyword}, '%')
          </if>
          <if test='type == "c"'>
            content like concat('%', #{keyword}, '%')
          </if>
          <if test='type == "w"'>
            writer like concat('%', #{keyword}, '%')
          </if>
        </foreach>
      </trim>
    </if>
    limit #{countEnd}) board
  </select>

  <!-- register -->
  <insert id="register">
    insert into tbl_board
    (title, content, writer)
    values (#{title}, #{content}, #{writer})
    <selectKey resultType="int" keyProperty="bno" order="AFTER">
      select last_insert_id()
    </selectKey>
  </insert>

  <!-- read -->
  <select id="getOne" resultMap="fileListMap">
    select tb.bno, tb.title, tb.content, tb.writer, tb.updateDate,
           tb.status, concat(pi.uuid,'_',pi.file_name) as fileNames
    from tbl_board tb
    left outer join tbl_board_image pi
    on pi.bno = tb.bno
    where tb.bno = #{bno}
  </select>

  <!-- read - file (resultMap) -->
  <resultMap id="fileListMap" type="BoardDTO">
    <id property="bno" column="bno"/>
    <result property="title" column="title"/>
    <result property="content" column="content"/>
    <result property="writer" column="writer"/>
    <result property="dueDate" column="dueDate"/>
    <result property="updateDate" column="updateDate"/>
    <result property="status" column="status"/>
    <collection property="fileNames" resultMap="fileMap"/>
  </resultMap>

  <resultMap id="fileMap" type="string">
    <result property="fileNames" column="fileNames"/>
  </resultMap>
  <!-- //read - file (resultMap) -->

  <!-- delete -->
  <update id="delete">
    update tbl_board
    set
      title = '', content = '', writer = '', dueDate = null, updateDate = now(),
      status = false
    where bno = #{bno}
  </update>

  <!-- modify -->
  <update id="modify">
    update tbl_board
    set
      title = #{title}, content = #{content}, updateDate = now()
    where bno = #{bno}
  </update>

  <!-- views -->
  <update id="viewCount">
    update tbl_board
    set
      viewcnt = viewcnt + 1
    where bno = #{bno}
  </update>

</mapper>