<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.board.boardproject.mappers.FileMapper">

  <!-- file register -->
  <insert id="registerImage">
    insert into tbl_board_image (uuid, file_name, bno, ord) values
    <foreach collection="list" item="item" separator=",">
      ( #{item.uuid}, #{item.file_name}, #{item.bno}, #{item.ord} )
    </foreach>
  </insert>

  <delete id="deleteImage">
    delete from tbl_board_image where bno = #{bno}
  </delete>

</mapper>