<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시판 리스트</title>
</head>
<body>
  
  <div class="container-fluid pt-4 px-4" layout:fragment="content">
    [[${boardList}]]
    <div>[[${pageRequestDTO}]]</div>
    <!--/* [[${pageRequestDTO}]] */-->
    <div class="col-sm-12 col-xl-12">
      <div class="bg-light rounded h-100 p-4">
        <h2 class="mb-3">게시판 목록</h2>
        <!--/* 검색영역 */-->
        <!--/* <div class="mb-3 searchWrap">
          <form action="/board/list" method="get" class="actionForm">
            <input type="hidden" name="page" th:value="${pageRequestDTO.page}">
            <input type="hidden" name="size" th:value="${pageRequestDTO.size}">
            <select name="type" class="form-select mb-3">
              <option value="">선택해주세요</option>
              <option value="title" th:selected="${pageRequestDTO.type == 'title'}">제목</option>
              <option value="content" th:selected="${pageRequestDTO.type == 'content'}">내용</option>
              <option value="writer" th:selected="${pageRequestDTO.type == 'writer'}">작성자 </option>
            </select>
            <input type="text" name="keyword" class="form-control mb-3" placeholder="검색어를 입력 해주세요." th:value="${pageRequestDTO.keyword}">
            <div class="button_wrap">
              <button type="submit" class="btn btn-primary btnSearch">검색</button>
            </div>
          </form>
        </div> */-->
        <!--/* //검색영역 */-->
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">No</th>
              <th scope="col">제목</th>
              <th scope="col">작성자</th>
              <th scope="col">날짜</th>
            </tr>
          </thead>
          <tbody class="boardRead">
            <tr th:each="list : ${boardList.list}">
              <td>[[${list.bno}]]</td>
              <td>[[${list.title}]]</td>
              <td>[[${list.writer}]]</td>
              <td>[[${list.dueDate}]]</td>
            </tr>
          </tbody>
        </table>
        <div class="btn-toolbar" role="toolbar" style="justify-content: center;">
          <!--/* paging */-->
          <ul class="btn-group me-2 paging" role="group" aria-label="First group">
            <li th:if="${boardList.prevBtn}"><a th:href="${boardList.startNum - 1}" class="btn btn-primary"><</a></li>

            <th:block th:each="i: ${#numbers.sequence(boardList.startNum, boardList.endNum)}">
            <li th:class="${boardList.page == i} ? 'active' : ''">
              <a th:href="${i}" class="btn btn-primary">[[${i}]]</a>
            </li>
            </th:block>

            <li th:if="${boardList.nextBtn}"><a th:href="${boardList.endNum + 1}" class="btn btn-primary">></a></li>
          </ul>
        </div>
        <div class="button_wrap">
          <a href="/board/register" class="btn btn-primary">등록</a>
        </div>
      </div>
    </div>
  </div>

  <script layout:fragment="script" th:inline="javascript">


  </script>
  
</body>
</html>