<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Board List</title>
</head>
<body>
  
  <div class="container-fluid pt-4 px-4" layout:fragment="content">
    [[${boardList}]]
    <!--/* <div>[[${pageRequestDTO}]]</div> */-->
    <div class="col-sm-12 col-xl-12">
      <div class="bg-light rounded h-100 p-4">
        <h2 class="mb-3">Board List</h2>
        <!--/* 검색영역 */-->
        <div class="mb-3 searchWrap">
          <form action="/board/list" method="get" class="actionForm">
            <input type="hidden" name="page" th:value="${pageRequestDTO.page}">
            <input type="hidden" name="size" th:value="${pageRequestDTO.size}">
            <select name="type" class="form-select mb-3">
              <option value="">선택해주세요</option>
              <option value="t" th:selected="${pageRequestDTO.type == 't'}">제목</option>
              <option value="c" th:selected="${pageRequestDTO.type == 'c'}">내용</option>
              <option value="w" th:selected="${pageRequestDTO.type == 'w'}">작성자 </option>
              <option value="tc" th:selected="${pageRequestDTO.type == 'tc'}">제목+내용 </option>
            </select>
            <input type="text" name="keyword" class="form-control mb-3" placeholder="검색어를 입력 해주세요." th:value="${pageRequestDTO.keyword}">
            <div class="button_wrap">
              <button type="submit" class="btn btn-primary btnSearch">검색</button>
            </div>
          </form>
        </div>
        <!--/* //검색영역 */-->
        <table class="table table-hover board_list">
          <colgroup>
            <col style="width:7%" />
            <col style="width:60%" />
            <col style="width:13%" />
            <col style="width:20%" />
          </colgroup>
          <thead>
            <tr>
              <th scope="col">No</th>
              <th scope="col">Title</th>
              <th scope="col">Writer</th>
              <th scope="col">Date</th>
              <th scope="col">조회수</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="list : ${boardList.list}">
              <td>[[${list.bno}]]</td>
              <td>
                <div class="board_title">
                  <div class="ellipsis">
                    <a th:href="@{|/board/read/${list.bno}?${pageRequestDTO.link}|}">[[${list.title}]]</a>
                  </div>
                  <span>([[${list.replycnt}]])</span>
                </div>
              </td>
              <td>[[${list.writer}]]</td>
              <td>[[${#temporals.format(list.dueDate, 'yyyy-MM-dd')}]]</td>
              <td>[[${list.viewcnt}]]</td>
            </tr>
          </tbody>
        </table>
        <div class="btn-toolbar" role="toolbar" style="justify-content: center;">
          <!--/* paging */-->
          <ul class="btn-group me-2 paging" role="group" aria-label="First group">
            <li th:if="${boardList.prevBtn}"><a th:href="${boardList.startNum - 1}" class="btn btn-primary"><</a></li>

            <th:block th:each="i: ${#numbers.sequence(boardList.startNum, boardList.endNum)}">
            <li th:class="${boardList.page == i} ? 'active' : ''">
              <a th:href="${i}" class="btn btn-primary">[[${i}]]</a>
            </li>
            </th:block>

            <li th:if="${boardList.nextBtn}"><a th:href="${boardList.endNum + 1}" class="btn btn-primary">></a></li>
          </ul>
        </div>
        <div class="button_wrap">
          <a href="/board/register" class="btn btn-primary">Register</a>
        </div>
      </div>
    </div>

    <div class="modal alertModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">[[${message}]]</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script layout:fragment="script" th:inline="javascript">
    //선택자
    const alertModal = new bootstrap.Modal(document.querySelector(".alertModal"))
    const paging = document.querySelector(".paging")
    const actionForm = document.querySelector(".actionForm")
    const pageInput = actionForm.querySelector("input[name=page]")
    const typeObj = actionForm.querySelector("select[name=type]")
    const keywordObj = actionForm.querySelector("input[name=keyword]")
    const btnSearch = document.querySelector(".btnSearch")

    paging.addEventListener("click", (e) => {
      //이벤트 막기
      e.preventDefault()
      e.stopPropagation()

      //target 찾기
      const target = e.target
      //console.log(target.tagName)

      //A태그가 아니면 return
      if(target.tagName !== "A"){
        return
      }

      //page번호 설정
      const pageNum = target.getAttribute("href")
      //console.log(pageNum)

      //input에 page변경 넘겨주기
      pageInput.value = pageNum
      //actionForm action 변경
      actionForm.setAttribute("action", "/board/list")
      //submit
      actionForm.submit()
    })

    //검색 버튼
    btnSearch.addEventListener("click", e => {
      //이벤트 막기
      e.preventDefault()
      e.stopPropagation()

      //검색타입, 키워드 입력 안되었을 시 return
      if(typeObj.options[typeObj.selectedIndex].value === "" && keywordObj.value !== ""){
        alert("검색 조건을 선택해주세요")
        return
      }

      //검색 하고나면 page는 무조건 1페이지
      pageInput.value = 1

      actionForm.submit()
    }, false)

    //등록, 삭제 Modal Show
    if([[${message}]] != null){
      alertModal.show()
    }
  </script>
  
</body>
</html>