<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Board Modify</title>
</head>
<body>
  <div class="container-fluid pt-4 px-4" layout:fragment="content">
    <!--/* [[${modify}]]
    [[${pageRequestDTO}]] */-->
    <div class="col-sm-12 col-xl-12">
      <div class="bg-light rounded h-100 p-4">
        <h2 class="mb-4">Board Modify</h2>
        <form name="frm" method="post" class="formData">
          <div class="mb-3">
            <label for="boardTitle" class="form-label">Title</label>
            <input type="text" name="title" class="form-control" id="boardTitle" th:value="${modify.title}">
          </div>
          <div class="mb-3">
            <label for="boardContent" class="form-label">Content</label>
            <textarea name="content" class="form-control" id="boardContent" style="height:100px;resize:none;">[[${modify.content}]]</textarea>
          </div>
          <div class="mb-3">
            <label for="boardWriter" class="form-label">Writer</label>
            <input type="text" name="writer" class="form-control" id="boardWriter" th:value="${modify.writer}" readonly style="cursor: default;">
          </div>
        </form>
        <div class="button_wrap">
          <button type="button" class="btn btn-primary btnAdd">Modify</button>
          <button type="button" class="btn btn-info text-white btnDelete">Delete</button>
          <a th:href="@{|/board/read/${bno}?${pageRequestDTO.link}|}" class="btn btn-danger btnList">Cancel</a>
        </div>
      </div>
    </div>

    <div class="modal alertModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="modal deleteModal" tabindex="-1" role="dialog">
      <form method="post" class="actionForm">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">정말 삭제 하시겠습니까?</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary btnDeleteModal" data-bs-dismiss="modal">Confirm</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
      </form>
    </div>
  </div>

  <script layout:fragment="script" th:inline="javascript">
    //변수, 선택자
    const {bno, status} = [[${modify}]]
    const alertModal = new bootstrap.Modal(document.querySelector(".alertModal"))
    const deleteModal = new bootstrap.Modal(document.querySelector(".deleteModal"))
    const alertModalPop = document.querySelector(".alertModal .modal-body")
    const btnAdd = document.querySelector(".btnAdd")
    const btnDelete = document.querySelector(".btnDelete")
    const btnDeleteModal = document.querySelector(".btnDeleteModal")
    const actionForm = document.querySelector(".actionForm")
    //수정버튼 클릭
    btnAdd.addEventListener("click", e => {
      //console.log(frm.title.value);
      if(frm.title.value == "") {
        alertModalPop.innerHTML = "제목을 입력해주세요."
        alertModal.show()
      }else if(frm.content.value == "") {
        alertModalPop.innerHTML = "내용을 입력해주세요."
        alertModal.show()
      }else {
        //수정처리
        frm.submit()
      }
    }, false)

    //삭제 modal show
    btnDelete.addEventListener("click", e => {
      deleteModal.show()
    }, false)
    //삭제처리
    btnDeleteModal.addEventListener("click", e => {
      actionForm.setAttribute("action",`/board/delete/${bno}`)
      actionForm.submit()
    }, false)

    //삭제된 게시물은 list로 return처리
    if(!status){
      alert("삭제된 게시물 입니다.");
      window.location.href = "http://" + window.location.host + "/board/list"
    }
  </script>
</body>
</html>