<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Board Read</title>
</head>
<body>
  <div class="container-fluid pt-4 px-4" layout:fragment="content">
    <!--/* [[${read}]]
    [[${pageRequestDTO}]] */-->
    <div class="col-sm-12 col-xl-12">
      <div class="bg-light rounded h-100 p-4">
        <h2 class="mb-4">Board Read</h2>
        <hr>
        <h4 class="mb-4">Title</h4>
        <div class="alert alert-light" role="alert">[[${read.title}]]</div>
        <h4 class="mb-4">Content</h4>
        <div class="alert alert-light" role="alert" style="min-height: 100px;">[[${read.content}]]</div>
        <h4 class="mb-4">Writer</h4>
        <div class="alert alert-light" role="alert">[[${read.writer}]]</div>
        <h4 class="mb-4">Date</h4>
        <div class="alert alert-light" role="alert">[[${read.updateDate}]]</div>
        <div class="button_wrap">
          <a th:href="@{|/board/list?${pageRequestDTO.link}|}" class="btn btn-primary btnList">List</a>
          <a th:href="@{|/board/modify/${bno}?${pageRequestDTO.link}|}" class="btn btn-info text-white btnModify">Modify</a>
        </div>
      </div>
    </div>

    <div class="modal alertModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">[[${message}]]</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </div>
  <script layout:fragment="script" th:inline="javascript">
    //변수, 선택자
    const {status} = [[${read}]]
    const alertModal = new bootstrap.Modal(document.querySelector(".alertModal"))

    //삭제된 게시물은 list로 return처리
    if(!status){
      alert("삭제된 게시물 입니다.");
      window.location.href = "http://" + window.location.host + "/board/list"
    }

    if([[${message}]] != null){
      alertModal.show()
    }
  </script>
</body>
</html>